$color_green: #00A600;

.tile {  
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 13px 20px 0 0;
  font-size: 13px;
    .title {
          margin-top: 0px;
      }
    
    &.green {
      color: #fff;
    }
    

    &.green {
      background: $color_green;
  
          &:hover {
              background: darken($color_green, 10%);
          }		
    }
    
  }